@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);
/* 숨김 제목 및 숨김 콘텐트 */
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0,0,0,0);
}

body *, body *::before, body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  background: #ccc;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 스킵 내비게이션 */
.skip-nav {
  display: none;
}

/* 레이아웃 */
.header, .visual, .main, .slogan {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #fff;
  position: relative; 
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}
/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 65px;
  margin: 0;
}
/* 안내 링크 목록 */
.member {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}
.member li {
  display: inline-block;
  padding: 2px 0;
}
.member a {
  padding: 6px 0;
  display: inline-block;
}
/* 내비게이션 */
.navigation {
  padding-bottom: 35px;
}
.menu {
  background: linear-gradient(
    to bottom, 
    #f9bf00 0%,
    #ff7400 35%,
    #ff7400 70%,
    #f9bf00 100%
    );
  border-top: 2px solid currentColor;
  margin: 10px 0 0 0 ;
  list-style: none;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
}
.menu-item {
  position: relative;
  float: left;
}
.menu-button {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  line-height: 45px;
  padding: 0 20px;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
}
.sub-menu li, .sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin: 0 10px;
}
.sub-menu a::before {
  content: '\f192'; 
  font-family: 'fontello'; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
}
.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: '\e800';
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right: 0;
}
/* 텍스트 및 배경 애니메이션 - 비주얼 */
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: bgAni 2000ms infinite alternate ease-in-out;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}
.visual-text {
  /* position: absolute; */
  margin: 0;
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}
.main {
  background: #fff;
  /* display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between; */
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: block;
} */

.group {
  margin: 0 15px;
  float: left;
}
.group1 {
 
  width: 250px;
}
/* .group1 .login {
  background: linear-gradient(45deg, #ff7400 79%,#f9bf00 100%);
  border-radius: 7px;
  box-shadow: 5px 5px 0 gray;
  padding: 10px;
}
.login-heading {
  color: yellow;
  font-size: 1.6rem;
  margin: 0;
  padding-left: 10px;
}
fieldset {
  margin: 10px 0 0 0;
  padding: 10px 10px 0 10px;
  background: #fff;
  border: 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.user-email, .user-pw {
  /* padding-top: 5px;
  line-height: 30px;
}
.user-email input, .user-pw input {
  width: 100px;
  display: inline-block;
}
.user-email input {
  margin-left: 15px;
}
.user-pw input {
  margin-left: 2px;
}
.btn-login {
  background: orangered;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.login-member {
  background: #fff;
  margin: 0;
  border-radius: 0 0 5px 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 1.3rem;
  line-height: 30px;
}
.signup, .find-pw {
  border-top: 1px solid lightslategray;
  justify-content: space-between;
  padding-top: 5px;
}
.icon-right-open {
  color: orangered;
}  */

/* 로그인 */
.login {
  background: radial-gradient(circle at right top, #f9bf00 , #ff7400);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 15px 10px;
}
.login-heading {
  margin: 0;
  color: #ff0;
  font-size: 1.6rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form {
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  background: #fff;
  border-radius: 5px 5px 0 0;

}
.login-form fieldset {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  position: relative;
}
.user-email *, .user-pw * {
  vertical-align: middle;
}
.user-email, .user-pw {
  margin-bottom: 5px;
}
.login-form label {
  width: 4em;
  display: inline-block
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 1px 1px 1px 0.5em;
}
.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
  background: #ff7400;
  color: #fff;
}
.login-member {
  background: #fff;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  letter-spacing: -1px;
}
.login-member li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.login-member a {
  display: block;
  padding: 8px 0;
}
.login-member .icon-right-open {
  color: #ff7400;
}
.validation {
  list-style: none;
}
.validation li {
  line-height: 40px;
  
}
/* 유효성 검사 배너 */
.validation-list {
  margin: 25px 0 0 0;
  list-style: none;
  padding-left: 0;
}
.validation-list a {
  display: block;
  border-radius: 20px;
  border: 1px solid #aaa;
  background: url(./images/validation_icon.png) no-repeat 25px 50% / 20px 20px, linear-gradient(to bottom, #eee, #ccc);
  padding: 8px 10px 8px 55px;
  margin-top: 10px;
}
/* li 에 선언하면 글자에 마우스 올려야만 클릭됨, a에 선언하면 배경만 선택해도 클릭 가능 / 배경 앞은 위치, 뒤는 이미지 크기 */
.validation-list a:hover, .validation-list a:focus {
  color: #f00;
}
.term {
  border: 1px solid #aaa;
  background: linear-gradient(#ccc, #eee);
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}
.term-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list > div {
  overflow: hidden;
  background-color: skyblue;
}
.term-list div:nth-child(even) {
  margin-top: 15px;
}
.term-list {
  margin: 15px 0 0 0;
}
.term-list-subject, .term-list-brief {
  float: right;
  width: 145px;
}
.term-list-subject {
  color: #296897
}
.term-list-thumbnail {
  float: left;
}
.term-list-thumbnail img {
  display: block;
}
.term-list-brief {
   /*부모크기랑 컨텐츠 영역의 크기가 동일해서 위로 안올라감, width 적용해주면 됨) */
  margin-top: 5px;
  line-height: 1.5;
}
.term-list dd {
  margin-left: 0;
}
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief {
  float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail {
  float: right;
}
/* .term {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: linear-gradient(to bottom,#ccc, #eee );
}
.term-heading {
  margin-top: 0;
  font-size: 1.6rem;
}
.term-list-thumbnail, .term-list .term-list-brief {
  margin-left: 0;
}
.term-list-subject {
  display: inline-block;
  margin-bottom: 5px;
  color: #296897;
}
.odd .term-list-thumbnail {
  float: left;
  margin-right: 15px;
}
.odd::after {
  content: "";
  clear: both;
  display: block;
}
.even {
  margin-top: 10px;
}
.even .term-list-thumbnail {
  float: right;
  margin-left: 10px;
}
.even::after {
  content: "";
  clear: both;
  display: block;
} */
.group2 {
  width: 380px;
}
/* 검색폼 */
.search-form {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.search-form-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search-form [name="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 0.5em;
  height: 22px;
  width: 190px;
  /* margin: 0 5px; */
}
.btn-search {
  background-color: #333;
  border: 1px solid #aaa;
  color: #fff;
  border-radius: 3px;
  height: 22px;
  padding: 0 10px;
}
/* .search-form {
  border: 1px solid lightslategray;
  border-radius: 10px 10px 0 0;
  
}
.search-form fieldset {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  background-color: ;
}
.search-form label {
  margin: 0;
} */
/* 공지사항 및 자료실 */
.board {
  background: yellow;
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.notice-list,
.pds-list,
.notice-more,
.pds-more {
  display: none;
}
.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more {
  display: block;
}
.tab {
  float: left;
  margin: 0;
}
.tab a {
  display: block;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 10px;
}
.is-active .tab a {
  color: #ff7400;
  border-color: #ff7400 #ff7400 #fff #ff7400;
  background: #fff;
}
.notice-list, .pds-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background: skyblue;
  position: absolute;
  left: 0;
  top: 45px;
}
.notice-list li,
.pds-list li {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
.notice-list a, 
.pds-list a{
  /* flex-grow: 1; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
}
.notice-more,
.pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: pink;
  padding: 8px; /* 터치할 수 있는 영역을 좀더 넓게 */
}
.notice-more::before,
.pds-more::before {
  color: hsla(110, 50%, 30%, 1);
}
/* .board {
  background-color: cyan;
  position: relative;
}
.tab {
  float: left;
  padding: 5px;
  border: 1px solid gray;
}
.notice {
  background-color: yellow;
}
.pds {
  background-color: green;
}
.notice-list li, .pds-list li {
  position: absolute;
  top: 100px;
} */
.group3 {
  width: 190px;
}
.slogan {
  background: orange;
}
.footer {
  background: pink;
  width: 100%;
}